{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/producer.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/divider.css') }}">
{% endblock %}

{% block title %}Mon Producteur {% endblock %}

{% block body %}
    <div class="col-12 pt-5 headProducer d-flex flex-column justify-content-start align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="styleTitle">Jean Marc Hauchard</h1>
            <h4 class="styleBold">Maraîcher / &#201;leveur</h4>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p class="mx-4 mb-0 styleTitle">Producteur ardéchois depuis 1967 !</p>
            <img src="{{ asset('/img/ardecheMap.png') }}" alt="Carte de l'ardeche avec détail des départements" />
        </div>
    </div>
    <div class="dividerHeadProducer">
        <svg preserveAspectRatio="xMidYMax meet" class="svg-separator sep2" viewBox="0 0 1600 200" style="display: block;" data-height="200">
            <polygon class="" style="fill: rgb(255, 255, 255);" points="-4,0 1604,198 1604,204 -4,204 	"></polygon>
            <polygon class="" style="opacity: 1;fill: #d2d7d3;" points="1604,198 1604,186 -4,0 -4,0 	"></polygon>
            <polygon class="" style="opacity: 1;fill: #bdc3c7;" points="1604,186 1604,174 -4,0 -4,0 	"></polygon>
        </svg>
    </div>
    <div class="col-12 contentProducer my-3">
        <div class="row my-5 d-flex justify-content-center">
            <div class="col-md-12 col-lg-3">
                <h2 class="title">Exploitation</h2>
                <p>"Nous cultivons ces terres depuis 70 ans et nos produits sont notre réussite."</p>
            </div>
            <div class="col-md-12 col-lg-6">
                <img src="{{ asset('/img/producer1.jpg') }}" alt="Photo du champ" />
            </div>
        </div>
        <hr/>
        <div class="row my-5 flex-column-reverse flex-sm-column-reverse flex-md-column-reverse flex-lg-row justify-content-center">
            <div class="col-md-12 col-lg-6">
                <img src="{{ asset('/img/producer2.jpg') }}" alt="Photo des oignons" />
            </div>
            <div class="col-md-12 col-lg-3">
                <h2>Champ d'oignons</h2>
                <p>"Un exemple de nos produits en rang d'oignons"</p>
            </div>
        </div>
        <hr/>
        <div class="row my-5 d-flex justify-content-center">
            <div class="col-md-12 col-lg-3">
                <h2>Champ de poireaux</h2>
                <p>"Un autre exemple de notre exploitation à taille humaine."</p>
            </div>
            <div class="col-md-12 col-lg-6">
                <img src="{{ asset('/img/producer3.jpg') }}" alt="Photo des poireaux" />
            </div>
        </div>
    </div>
    <hr class="progress mb-4">
{% endblock body %}