{% extends 'base.html.twig' %}

{% block title %}Panier {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/css/productCards.css') }}">
	<link rel="stylesheet" href="{{ asset('/css/cart.css') }}">
{% endblock %}

{% block body %}
	<div class="col-12">
		<div class="row d-flex justify-content-center cart">
			<div class="col-md-12 col-lg-11 col-xl-10 row d-flex justify-content-center">
				<div class="col-12 col-sm-12 col-md-8 row d-flex justify-content-center">
					<div class="row jumbotron col-12 d-flex justify-content-center mt-5 py-3">
						<h1 class="display-5 col-12">1. Mon panier</h1>
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Produits</th>
									<th scope="col">Quantitée</th>
									<th scope="col">Prix Unitaire</th>
                  					<th scope="col">Prix Total</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								{% set total = 0 %}
                				{% if cart | length > 0 %}
                					{% set total = 0 %}
                				  	{% for product in cart %}
									  	{% set total = total + (product.product.price * product.quantity) %}
										<tr class="">
											<td scope="row">{{product.product.name|capitalize}}</td>
											<td class="tableQty">
                				        		<div class="input-group input-group-sm mb-3">
	            				        		    <div class="input-group-prepend">
    	    					        		        <a class="btn btn-outline-secondary align-items-center d-flex" href="{{path('cart_less', {'id':product.product.id})}}"><i class="far fa-arrow-alt-circle-down"></i></a>
        	    				        		    </div>
            						    		    <span class="input-group-text">{{product.quantity}}</span>
                				    			    <div class="input-group-append">
                				        		    	<a class="btn btn-outline-secondary align-items-center d-flex" href="{{path('cart_more', {'id':product.product.id})}}"><i class="far fa-arrow-alt-circle-up"></i></a>
                				        			</div>
                				        		</div>
                				      		</td>
											<td>{{(product.product.price)|number_format(2)}} € /{{product.product.unit}}</td>
                				      		<td>{{(product.product.price * product.quantity)|number_format(2)}}&#32;€</td>
											<td>
                				        		<a href="{{path('cart_remove', {'id':product.product.id})}}" class="btn btn-danger btn-sm">
                				        	  		<i class="fas fa-trash"></i>
                				        		</a>
                				      		</td>
										</tr>
                				  	{% endfor %}
                				  	<tr class="table-dark">
										<th scope="row" class="totalCart">Total:</th>
										<th class="text-right sommeCart" colspan="4">{{(total)|number_format(2)}}&#32;€</th>
									</tr>
								{% else %}
                					<tr class="">
                				    	<td colspan="4">Aucuns Produits</td>
                				  	</tr>
                				  	<tr class="table-dark">
										<th scope="row" class="totalCart">Total:</th>
										<td class="text-right sommeCart" colspan="4">0.00 €</td>
									</tr>
                				{% endif %}
							</tbody>
						</table>
					</div>
					{{ form_start(formOrder) }}
					<div class="row jumbotron col-12 d-flex justify-content-center mt-5 py-3">
						<h1 class="display-5 col-12">2. Mon créneau de retrait</h1>
						<div class="card text-white bg-secondary mb-3 mr-3" style="max-width: 20rem;">
							<div class="card-header">Choisis le jour</div>
							<div class="card-body">
								{# <p class="card-text">Le premier jour disponnible est le 23/03/32.</p> #}
								{{ form_widget(formOrder.pickupDate) }}
								{# <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"> #}
							</div>
						</div>
						<div class="card text-white bg-secondary mb-3 mr-3" style="max-width: 20rem;">
							<div class="card-header">Choisis l'heure</div>
							<div class="card-body">
								{# <p class="card-text">Le premier crénau horraire disponnible est à 08h00.</p> #}
								{{ form_widget(formOrder.pickupTime) }}
								{# <input type="time" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"> #}
							</div>
						</div>
						{# <p class="card-text col-12 my-4 text-center lead">Tu as choisis le créneau suivant: Le 12/02/12 à 12h00.</p> #}
					</div>
					<div class="row col-12 d-flex justify-content-start mt-5 py-3 jumbotron valid">
						<h1 class="display-5 col-12 mb-4">3. Validation</h1>
						<h3 class="col-sm-12 col-md-7 p-0">TOTAL: {{(total)|number_format(2)}}&#32;€</h3>
						{% if app.user %}
							{# <button type="button" class="btn col-sm-12 col-md-5 col">Finaliser ma commande</button> #}
							{{ form_widget(formOrder.submit) }}
						{% else %}
							<p class="text-danger col-12 p-0">Connectez vous pour valider votre commande !</p>
							<a href="{{ path('signIn_showIn') }}" class="btn col-sm-12 col-md-5 col d-flex align-items-center justify-content-center">Connexion</a>
						{% endif %}
					</div>
					{{ form_end(formOrder) }}
				</div>
				<div class="d-none d-sm-none d-md-none d-lg-block col-4 mt-5 mb-5">
					<div class="">
						<h3 class="mb-3 text-center">Produits stars</h3>
						<div class="store d-flex flex-column justify-content-center align-items-center">
							<div class="productsStore justify-content-center">
								<div class=" flagshipProduct row justify-content-center align-items-center">
            			    		{% for product in products %}
            			    		    {{ form_start(formsAddCart[product.id], {'attr':{'class': 'productCard d-flex flex-column mx-4 mb-5 w-100 justify-content-space-between'}}) }}
            			    		        <div id="{{product.id}}" class="">
            			    		            <div class="d-flex flex-column align-items-center justify-content-between headProduct">
            			    		                <h4 class="text-center">{{ product.name|capitalize }}</h4>
            			    		                <div class="productPrice d-flex">
            			    		                    <p>{{product.price|number_format(2)}}&#32;€</p>
            	                    					<p class="productUnit ml-2">{{product.unit}}</p>
            			    		                </div>
            			    		            </div>
            			    		        </div>
            			    		        <div class="">
            			    		            <div class="col-12 d-flex justify-content-center my-3">
													<div class="productImgDiv">
            			    		               		<img class="productImg" src="{{ asset('/img/products/'~product.picture.name|e) }}" alt="Photo de laitue" />
													</div>
            			    		            </div>
            			    		        </div>
            			    		        <div class="mb-2">
            			    		            <div class="col-12 layoutInfoProduct d-flex justify-content-between align-items-center">
            			    		                <div class="category d-flex align-items-center">
            			    		                    <img src="{{ asset('/img/category/'~product.category.urlIcon|e) }}" alt="Icone {{product.category.title}}" />
            			    		                    <p class="mx-2 my-0">{{ product.category.title|capitalize }}</p>
            			    		                </div>
            			    		                {% if product.season == true %}
            			    		                    <div class="season d-flex align-items-center">
            			    		                        <img src="{{ asset('/img/seasons/'~product.season.urlIcon|e) }}" alt="Icone {{product.season.name}}" />
            			    		                        <p class="mx-2 my-0">{{ product.season.name|capitalize }}</p>
            			    		                    </div>
            			    		                {% endif %}
            			    		            </div>
            			    		        </div>
											<div class="col-12">
            			    		        	<div class="row">
            			    		        	    <div class="col-8 d-flex align-items-center justify-content-center layoutQuantity">
            			    		        	        {{form_widget(formsAddCart[product.id].productNumber, {"attr":{"class": "border-0"}})}}
            			    		        	    </div>
            			    		        	    <div class="col-4 d-flex align-items-center justify-content-center layoutCart">
            			    		        	        <div class="align-middle">
            			    		        	            {{form_widget(formsAddCart[product.id].productId)}}
            			    		        	            {{form_widget(formsAddCart[product.id].productPage)}}
            			    		        	            <button title="Ajouter au panier" type="submit" formaction="{{ path('cart_add', {'route':'cart_show'}) }}" name="add_cart[submit]" value="" class="btn text-muted"><i class="fas fa-shopping-cart mx-2"></i></button-->
            			    		        	        </div>
            			    		        	    </div>
            			    		        	</div>
											</div>
            			    		    {{form_end(formsAddCart[product.id])}}
            			    		{% endfor %}
            					</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
