{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/productCards.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/drive.css') }}">
{% endblock %}

{% block title %}Drive {% endblock %}

{% block body %}
<div class="headDrive mb-5 d-flex flex-column justify-content-center align-items-center">
    <h2 class="styleBold mt-5 mb-4">Catégories</h2>
    <div class="filterDrive mb-5 row col-10 d-flex justify-content-center">
        <div class="filterCard col-2 d-flex justify-content-center align-items-center">
            <button class="btn">
                <img src="{{ asset('/img/category/cheese.png') }}" alt="Icone fromage" />
                Fromage
            </button>
        </div>
        <div class="filterCard col-2 d-flex justify-content-center align-items-center">
            <button class="btn">
                <img src="{{ asset('/img/category/chili.png') }}" alt="Icone piments" />
                Piments / Poivrons
            </button>
        </div>
        <div class="filterCard col-2 d-flex justify-content-center align-items-center">
            <button class="btn">
                <img src="{{ asset('/img/category/fruits.png') }}" alt="Icone fruits" />
                Fruits
            </button>
        </div>
        <div class="filterCard col-2 d-flex justify-content-center align-items-center">
            <button class="btn">
                <img src="{{ asset('/img/category/canned-food.png') }}" alt="Icone plats en conserves" />
                Conserves
            </button>
        </div>
        <div class="filterCard col-2 d-flex justify-content-center align-items-center">
            <button class="btn">
                <img src="{{ asset('/img/category/aromats.png') }}" alt="Icone aromates" />
                Aromates
            </button>
        </div>
        <div class="filterCard col-2 d-flex justify-content-center align-items-center">
            <button class="btn">
                <img src="{{ asset('/img/category/season.png') }}" alt="Icone de saison" />
                De saison
            </button>
        </div>
        <div class="filterCard col-2 d-flex justify-content-center align-items-center">
            <button class="btn">
                <img src="{{ asset('/img/category/vegetables.png') }}" alt="Icone légumes" />
                Légumes
            </button>
        </div>
        <div class="filterCard col-2 d-flex justify-content-center align-items-center">
            <button class="btn">
                <img src="{{ asset('/img/category/plants.png') }}" alt="Icone plants" />
                Plants pour jardin
            </button>
        </div>
        <div class="filterCard col-2 d-flex justify-content-center align-items-center">
            <button class="btn">
                <img src="{{ asset('/img/category/mushroom.png') }}" alt="Icone champignons" />
                Champignons
            </button>
        </div>
    </div>
    <div class="searchDrive mb-5">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Rechercher un produit">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </div>
</div>
<div class="headStore col-12 d-flex m-5">
    <h3 class="styleBold mr-5">Votre sélection :</h3>
    <p>Tous les Articles <span class="numberProductSelect">(443 produits)</span></p>
</div>
<div class="store col-12 d-flex flex-column justify-content-center align-items-center">
    <div class="productsStore row col-10">
        <div class="row flagshipProduct col-12 d-flex justify-content-center align-items-center">
            <div class="productCard col-3 mx-4 mb-5">
                <div class="">
                    <div class="col-12 d-flex align-items-baseline justify-content-between headProduct">
                        <h4>Laitue</h4>
                        <div class="productPrice d-flex">
                            <p>1.20€</p>
                            <p class="productUnit ml-2">pièce</p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-12 d-flex justify-content-center my-3">
                        <img src="{{ asset('/img/products/Lettuce.png') }}" alt="Photo de laitue" />
                    </div>
                </div>
                <div class="">
                    <div class="col-12 layoutInfoProduct d-flex justify-content-between align-items-center">
                        <div class="category d-flex align-items-center">
                            <i class="fas fa-carrot"></i>
                            <p class="mx-2 my-0">Légumes</p>
                        </div>
                        <div class="season d-flex align-items-center">
                            <i class="fas fa-sun"></i>
                            <p class="mx-2 my-0">Toute l'année</p>
                        </div>
                    </div>
                    <div class="col-12 describe">
                        <p>Laitue verte cueillie main</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 d-flex align-items-center justify-content-center layoutQuantity">
                        <ul class="productNumber d-flex m-0 p-0">
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="less">
                                <span aria-hidden="true">&#45;</span>
                            </a>
                            </li>
                            <li class="productNumber-item mx-2"><a class="productNumber-link" href="#">1</a></li>
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="more">
                                <span aria-hidden="true">&#43;</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center layoutCart">
                        <form method="POST" class="align-middle">
                            <button title="Ajouter au panier" type="submit" formaction="/addCart" name="product" value="" class="btn text-muted"><i class="fas fa-shopping-cart mx-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="productCard col-3 mx-4 mb-5">
                <div class="">
                    <div class="col-12 d-flex align-items-baseline justify-content-between headProduct">
                        <h4>Laitue</h4>
                        <div class="productPrice d-flex">
                            <p>1.20€</p>
                            <p class="productUnit ml-2">pièce</p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-12 d-flex justify-content-center my-3">
                        <img src="{{ asset('/img/products/Lettuce.png') }}" alt="Photo de laitue" />
                    </div>
                </div>
                <div class="">
                    <div class="col-12 layoutInfoProduct d-flex justify-content-between align-items-center">
                        <div class="category d-flex align-items-center">
                            <i class="fas fa-carrot"></i>
                            <p class="mx-2 my-0">Légumes</p>
                        </div>
                        <div class="season d-flex align-items-center">
                            <i class="fas fa-sun"></i>
                            <p class="mx-2 my-0">Toute l'année</p>
                        </div>
                    </div>
                    <div class="col-12 describe">
                        <p>Laitue verte cueillie main</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 d-flex align-items-center justify-content-center layoutQuantity">
                        <ul class="productNumber d-flex m-0 p-0">
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="less">
                                <span aria-hidden="true">&#45;</span>
                            </a>
                            </li>
                            <li class="productNumber-item mx-2"><a class="productNumber-link" href="#">1</a></li>
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="more">
                                <span aria-hidden="true">&#43;</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center layoutCart">
                        <form method="POST" class="align-middle">
                            <button title="Ajouter au panier" type="submit" formaction="/addCart" name="product" value="" class="btn text-muted"><i class="fas fa-shopping-cart mx-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="productCard col-3 mx-4 mb-5">
                <div class="">
                    <div class="col-12 d-flex align-items-baseline justify-content-between headProduct">
                        <h4>Laitue</h4>
                        <div class="productPrice d-flex">
                            <p>1.20€</p>
                            <p class="productUnit ml-2">pièce</p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-12 d-flex justify-content-center my-3">
                        <img src="{{ asset('/img/products/Lettuce.png') }}" alt="Photo de laitue" />
                    </div>
                </div>
                <div class="">
                    <div class="col-12 layoutInfoProduct d-flex justify-content-between align-items-center">
                        <div class="category d-flex align-items-center">
                            <i class="fas fa-carrot"></i>
                            <p class="mx-2 my-0">Légumes</p>
                        </div>
                        <div class="season d-flex align-items-center">
                            <i class="fas fa-sun"></i>
                            <p class="mx-2 my-0">Toute l'année</p>
                        </div>
                    </div>
                    <div class="col-12 describe">
                        <p>Laitue verte cueillie main</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 d-flex align-items-center justify-content-center layoutQuantity">
                        <ul class="productNumber d-flex m-0 p-0">
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="less">
                                <span aria-hidden="true">&#45;</span>
                            </a>
                            </li>
                            <li class="productNumber-item mx-2"><a class="productNumber-link" href="#">1</a></li>
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="more">
                                <span aria-hidden="true">&#43;</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center layoutCart">
                        <form method="POST" class="align-middle">
                            <button title="Ajouter au panier" type="submit" formaction="/addCart" name="product" value="" class="btn text-muted"><i class="fas fa-shopping-cart mx-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="productCard col-3 mx-4 mb-5">
                <div class="">
                    <div class="col-12 d-flex align-items-baseline justify-content-between headProduct">
                        <h4>Laitue</h4>
                        <div class="productPrice d-flex">
                            <p>1.20€</p>
                            <p class="productUnit ml-2">pièce</p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-12 d-flex justify-content-center my-3">
                        <img src="{{ asset('/img/products/Lettuce.png') }}" alt="Photo de laitue" />
                    </div>
                </div>
                <div class="">
                    <div class="col-12 layoutInfoProduct d-flex justify-content-between align-items-center">
                        <div class="category d-flex align-items-center">
                            <i class="fas fa-carrot"></i>
                            <p class="mx-2 my-0">Légumes</p>
                        </div>
                        <div class="season d-flex align-items-center">
                            <i class="fas fa-sun"></i>
                            <p class="mx-2 my-0">Toute l'année</p>
                        </div>
                    </div>
                    <div class="col-12 describe">
                        <p>Laitue verte cueillie main</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 d-flex align-items-center justify-content-center layoutQuantity">
                        <ul class="productNumber d-flex m-0 p-0">
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="less">
                                <span aria-hidden="true">&#45;</span>
                            </a>
                            </li>
                            <li class="productNumber-item mx-2"><a class="productNumber-link" href="#">1</a></li>
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="more">
                                <span aria-hidden="true">&#43;</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center layoutCart">
                        <form method="POST" class="align-middle">
                            <button title="Ajouter au panier" type="submit" formaction="/addCart" name="product" value="" class="btn text-muted"><i class="fas fa-shopping-cart mx-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="productCard col-3 mx-4 mb-5">
                <div class="">
                    <div class="col-12 d-flex align-items-baseline justify-content-between headProduct">
                        <h4>Laitue</h4>
                        <div class="productPrice d-flex">
                            <p>1.20€</p>
                            <p class="productUnit ml-2">pièce</p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-12 d-flex justify-content-center my-3">
                        <img src="{{ asset('/img/products/Lettuce.png') }}" alt="Photo de laitue" />
                    </div>
                </div>
                <div class="">
                    <div class="col-12 layoutInfoProduct d-flex justify-content-between align-items-center">
                        <div class="category d-flex align-items-center">
                            <i class="fas fa-carrot"></i>
                            <p class="mx-2 my-0">Légumes</p>
                        </div>
                        <div class="season d-flex align-items-center">
                            <i class="fas fa-sun"></i>
                            <p class="mx-2 my-0">Toute l'année</p>
                        </div>
                    </div>
                    <div class="col-12 describe">
                        <p>Laitue verte cueillie main</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 d-flex align-items-center justify-content-center layoutQuantity">
                        <ul class="productNumber d-flex m-0 p-0">
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="less">
                                <span aria-hidden="true">&#45;</span>
                            </a>
                            </li>
                            <li class="productNumber-item mx-2"><a class="productNumber-link" href="#">1</a></li>
                            <li class="productNumber-item mx-2">
                            <a class="productNumber-link" href="#" aria-label="more">
                                <span aria-hidden="true">&#43;</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center layoutCart">
                        <form method="POST" class="align-middle">
                            <button title="Ajouter au panier" type="submit" formaction="/addCart" name="product" value="" class="btn text-muted"><i class="fas fa-shopping-cart mx-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>Icons made by
    <a href="https://www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a>
    from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a>
</div>
<div>Icons made by 
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a>
</div>
<div>Icons made by 
    <a href="https://www.flaticon.com/authors/turkkub" title="turkkub">turkkub</a>
    from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a>
</div>
<div>Icons made by 
    <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>
    from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a>
</div>
<div>Icons made by 
    <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> 
    from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a>
</div>
<div>Icons made by 
    <a href="https://www.flaticon.com/authors/pixelmeetup" title="Pixelmeetup">Pixelmeetup</a>
    from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a>
</div>
<div>Icons made by 
    <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a>
    from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a>
</div>
<div>Icons made by
    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
    from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a>
</div>
{% endblock %}
