<h3>Vous avez envoyé la demande de contact suivante:<h3>

<p>{{ contact.name }} {{ contact.firstName }}</p>
<p> Vous envoie une demande de contact pour la raison suivante : {{ contact.reason }}</p>
<p> Objet : {{ contact.subject }} </p>
<p> Message : {{ contact.message }} </p>
<p> Envoyé par : {{ contact.email}} </p>