<!DOCTYPE html>
<!-- Couleurs :
    Blanc       #FFFFFF
    Blanc N2    #FAF7F2
    Gris        #333333
    Gris clair  #919191
    Gris N2     #F6F1E8
    Gris foncé  #181A1B
    Noir N1     #262626
    Noir N2     #1B1B1B
    Noir N3     #323A47
    Orangé      #FF4E13
    Orang Clair #F2291C
    Vert        #4FBE16
    Vert Olive  #436C00
    Vert vert   #C3CF1F
    Violet      #95325E
    Violetrouge #CB2235
    Jaune       #FBB704
    Jaune qui me plaît bien #f7c537
    -->
<!-- MangerPlusPrès.fr - Made by Lacrotte Florent / Projet 5 - OpenClassrooms -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}|  MangerPlusPrès.fr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Jost:wght@500&family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/buttons.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/footer.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <nav class="col-12 navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{{ path('home_show') }}"><img style="width: 45%"src="{{ asset('img/logo2.png') }}"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarColor03">
                        <ul class="navbar-nav d-flex justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home_show') }}">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('producer_show') }}">Mon producteur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('drive_show', {'page' : '1'}) }}">Drive</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fonctionnement_show') }}">Le fonctionnement</a>
                            </li>
                        </ul>
                    </div>
                    <div class="AccountAndCart">
                        <a class="btn" href="{{ path('productManager_show', {'page':'1'}) }}">
                            <img src="{{ asset('/img/logo/gear.png') }}" alt="Icone réglages" />
                        </a>
                        <a class="btn" href="{{ path('cart_show') }}">
                            <img src="{{ asset('/img/logo/trolley.png') }}" alt="Icone commande" />
                        </a>
                        <a class="btn" href="{{ path('cart_show') }}">
                            <img src="{{ asset('/img/logo/wicker-basket.png') }}" alt="Icone pannier" />
                        </a>
                        <a class="btn" href="{{ path('signIn_showIn') }}">
                            <img src="{{ asset('/img/logo/disconnect-padlock.png') }}" alt="Icone compte" />
                        </a>
                    </div>
                </nav>
            </header>
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer>
                <div class="preFoot d-flex justify-content-center align-items-center">
                    <div class="container d-flex justify-content-center align-items-center">
                        <div class="row col-12">
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center preFootFirst">
                                <a href="#">Mon espace client</a>
                                <a href="#">Conditions générales de vente</a>
                                <a href="{{ path('contact_show') }}">Contactez le producteur</a>
                            </div>
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center text-center">
                                <adress>
                                    <p> Hauchard Jean Marc</p>
                                    <p>4 rue Jean Baptiste</p>
                                    <p>07200</p>
                                    <p>Aubenas</p>
                                </adress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footFoot d-flex justify-content-center align-items-center">
                    <p class="mb-0 mx-1">Designed & created by Lacrotte Florent © 2020</p>
                    <p class="mb-0">Copyrigth®</p>
                </div>
            </footer>
            <!-- Icon FontAwesome -->
            <script src="https://kit.fontawesome.com/de7ae60c29.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
