<!DOCTYPE html>
<!-- Couleurs :
    Blanc       #FFFFFF
    Blanc N2    #FAF7F2
    Gris        #333333
    Gris clair  #919191
    Gris N2     #F6F1E8
    Gris foncé  #181A1B
    Noir N1     #262626
    Noir N2     #1B1B1B
    Noir N3     #323A47
    Orangé      #FF4E13
    Orang Clair #F2291C
    Vert        #4FBE16
    Vert Olive  #436C00
    Vert vert   #C3CF1F
    Violet      #95325E
    Violetrouge #CB2235
    Jaune       #FBB704
    Jaune qui me plaît bien #f7c537
    -->
<!-- MangerPlusPrès.fr - Made by Lacrotte Florent / Projet 5 - OpenClassrooms -->
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <!-- ViewPort style -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Indexation robot goolge SEO -->
        <meta name="robots" content="index, follow" />
        <!-- Fav Icon -->
        <link rel="icon" href="{{ asset('img/logo2.png') }}" />
        <!-- Auteur -->
        <meta name="author" content="Lacrotte Florent" />
        <!-- Meta descritpion -->
        <meta name="description" content="Drive direct producteur MangerPlusPrès.fr" /> 
        <!-- Meta Facebook -->
        <!-- Open Graph data -->
        <meta property="og:title" content="MangerPlusPrès.fr" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.mangerpluspres.fr" />
        <meta property="og:image" content="{{ asset('img/logo2.png') }}" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:description" content="Drive direct producteur MangerPlusPrès.fr" />
        <!-- Meta Twitter -->
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@MangerPlusPrès.fr" />
        <meta name="twitter:title" content="MangerPlusPrès.fr" />
        <meta name="twitter:description" content="Drive direct producteur MangerPlusPrès.fr" />
        <meta name="twitter:creator" content="@LacrotteFlorent" />
        <meta name="twitter:image" content="{{ asset('img/logo2.png') }}" />
        <!-- Compatibilité IE8 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Language -->
        <meta name="language" content="French">
        <!-- Title -->
        <title>{% block title %}{% endblock %}|  MangerPlusPrès.fr</title>
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Jost:wght@500&family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
        <!-- Media Queries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/buttons.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/footer.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <nav class="col-12 navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{{ path('home_show') }}"><img style="width: 45%" alt="logo de manger plus pres .fr" src="{{ asset('img/logo2.png') }}"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarColor03">
                        <ul class="navbar-nav d-flex justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home_show') }}">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('producer_show') }}">Mon producteur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('drive_show', {'page' : '1'}) }}">Drive</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fonctionnement_show') }}">Le fonctionnement</a>
                            </li>
                        </ul>
                    </div>
                    <div class="AccountAndCart">
                    {% if app.user %}
                        {% if app.user.roles[0] == "ROLE_ADMIN" %}
                            <a class="btn" href="{{ path('productManager_show', {'page':'1'}) }}">
                                <img src="{{ asset('/img/logo/gear.png') }}" alt="Icone réglages" />
                            </a>
                            <a class="btn" href="{{ path('orderManager_show') }}">
                                <img src="{{ asset('/img/logo/trolley.png') }}" alt="Icone commande" />
                            </a>
                        {% endif %}
                    {% endif %}
                        <a class="btn" href="{{ path('cart_show') }}">
                            <img src="{{ asset('/img/logo/wicker-basket.png') }}" alt="Icone pannier" />
                        </a>
                    {% if app.user %}
                        <a class="btn" href="{{ path('signIn_showIn') }}">
                            <img src="{{ asset('/img/logo/connect-padlock.png') }}" alt="Icone compte" />
                        </a>
                    {% else %}
                        <a class="btn" href="{{ path('signIn_showIn') }}">
                            <img src="{{ asset('/img/logo/disconnect-padlock.png') }}" alt="Icone compte" />
                        </a>
                    {% endif %}
                    </div>
                </nav>
            </header>
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer>
                <div class="preFoot d-flex justify-content-center align-items-center">
                    <div class="container d-flex justify-content-center align-items-center">
                        <div class="row col-12">
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center preFootFirst text-center">
                                <a href="{{ path('cart_show') }}">Mon espace client</a>
                                <a href="{{ path('legalNotice_show') }}">Mentions légales</a>
                                <a href="{{ path('contact_show') }}">Contactez le producteur</a>
                            </div>
                            <div class="mt-2 col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center text-center">
                                <div>
                                    <p class="mb-0">Hauchard Jean Marc</p>
                                    <p class="mb-0">4 rue Jean Baptiste</p>
                                    <p class="mb-0">07200</p>
                                    <p class="mb-0">Aubenas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footFoot d-flex justify-content-between align-items-center px-5">
                    <p class="mb-0 mx-1">Designed & created by Lacrotte Florent © 2020</p>
                    <a href="{{ path('flaticons_show') }}">Flaticons</a>
                    <p class="mb-0">Copyrigth®</p>
                </div>
            </footer>
            <!-- Icon FontAwesome -->
            <script src="https://kit.fontawesome.com/de7ae60c29.js"></script>
            <!-- Scripts Jquery Js Bootstrap Ajax -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
