{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/orderManager.css') }}">
{% endblock %}

{% block title %}Gestionnaire de commandes {% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-10 mt-2">
            <h1>Gestionnaire de commandes</h1>
            <p class="lead"> Valider, vérifier, et rechercher une commande</p>
            <hr class="mt-4 mb-1">
            <div class="d-flex justify-content-between text-small m-2">
                <span class="small"> {{ numberOfOrders }} commandes</span>
                <span class="small">Administration des commandes</span>
            </div>
            <ul class="nav nav-tabs nav-fill p-2" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('orderManager_show') }}" aria-controls="tasks" aria-selected="true">Liste</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ path('orderManager_showAndValid_noId') }}" aria-controls="files" aria-selected="false">Détails</a>
                </li>
            </ul>
            {% if noId == false %}
                <div class="content-list-body customerInfo">
                    <div class="card-list mt-3 p-4 nav-tabs mb-2">
                        <div class="card-list-head mb-3">
                            <h4>Informations client</h4>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="col-4">
                                <div class="d-flex justify-content-between">
                                    <h5>Nom</h5><h5>:</h5>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5>Téléphone</h5><h5>:</h5>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5>Mail</h5><h5>:</h5>
                                </div>
                            </div>
                            <div class="col-8">
                                <p class="mb-2">{{ order.user.name|capitalize }} {{ order.user.firstname|capitalize }}</p>
                                {% set phone = order.user.phoneNumber|split('',2) %}
                                {% set phone = phone|join('.') %}
                                <p class="mb-2">{{ phone }}</p>
                                <p class="mb-1">{{ order.user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-list-body">
                    <div class="card-list mt-3 p-2 p-sm-4 nav-tabs mb-2">
                        <div class="card-list-head mb-3">
                            <h4>Commande</h4>
                        </div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Produits</th>
									<th scope="col">Quantitée</th>
									<th scope="col" class="d-none d-md-table-cell">Prix Unitaire</th>
                  					<th scope="col" class="d-none d-md-table-cell">Prix Total</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
                				{% set total = 0 %}
                				{% for product in order.listWithData %}
								  	{% set total = total + (product.product.price * product.quantity) %}
									<tr scope="row" class="">
										<td scope="col">{{ product.product.name|capitalize }}</td>
										<td scope="col" class="tableQty">
                				    		<div class="input-group input-group-sm mb-3">
	            				    		    <div class="input-group-prepend">
    	    					    		        <a class="btn btn-outline-secondary align-items-center d-flex" href="{{ path('orderManager_less', {'idProduct':product.product.id,'idOrder':order.id}) }}"><i class="far fa-arrow-alt-circle-down"></i></a>
        	    				    		    </div>
            					    		    <span class="input-group-text">{{ product.quantity }}</span>
                							    <div class="input-group-append">
                				    		    	<a class="btn btn-outline-secondary align-items-center d-flex" href="{{ path('orderManager_more', {'idProduct':product.product.id,'idOrder':order.id}) }} "><i class="far fa-arrow-alt-circle-up"></i></a>
                				    			</div>
                				    		</div>
                				  		</td>
										<td scope="col" class="d-none d-md-table-cell">{{ (product.product.price)|number_format(2) }} € /{{ product.product.unit }}</td>
                				  		<td scope="col" class="d-none d-md-table-cell">{{ (product.product.price * product.quantity)|number_format(2) }}&#32;€</td>
										<td scope="col">
                				    		<a href="{{ path('orderManager_deleteProductInOrder', {'idProduct':product.product.id,'idOrder':order.id}) }}" class="btn btn-primary btn-sm">
                				    	  		<i class="fas fa-trash"></i>
                				    		</a>
                				  		</td>
									</tr>
                				{% endfor %}
                				<tr class="table-dark">
									<th scope="row" class="totalCart">Total:</th>
									<th class="text-right sommeCart" colspan="4">{{ (total)|number_format(2) }}&#32;€</th>
								</tr>
							</tbody>
						</table>
                    </div>
                </div>
                <div class="content-list-body">
                    <div class="card-list mt-3 p-2 p-sm-4 nav-tabs mb-2">
                        <div class="card-list-head mb-3">
                            <h4>Validation</h4>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            {{ form_start(formOrder, {'attr': {'class': 'col-12'}}) }}
                                {{ form_row(formOrder.pickupDate) }}
                                {{ form_row(formOrder.pickupTime, {'data': order.pickupDate|date('H/s')}) }}
                                {{ form_row(formOrder.customerMessage) }}
                                {{ form_row(formOrder.submit) }}
                            {{ form_end(formOrder) }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="content-list-body">
                    <div class="card-list mt-3 p-4 nav-tabs mb-5">
                        <div class="card-list-head mb-3">
                            <h4>Informations client</h4>
                        </div>
                        <div class="">
                            <p>Sélectionner une commande dans la liste</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}
