{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/productManager.css') }}">
{% endblock %}

{% block title %}Gestionnaire de commandes {% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-10 mt-2">
            <h1>Gestionnaire de commandes</h1>
            <p class="lead"> Valider, vérifier, et rechercher une commande</p>
            <hr class="mt-4 mb-1">
            <div class="d-flex justify-content-between text-small m-2">
                <span class="small"> {{ numberOfOrders }} commandes</span>
                <span class="small">Administration des commandes</span>
            </div>
            <ul class="nav nav-tabs nav-fill p-2" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="{{ path('orderManager_show') }}" aria-controls="tasks" aria-selected="false">Liste</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('orderManager_showAndValid_noId') }}" aria-controls="files" aria-selected="true">Détails</a>
                </li>
            </ul>
            <div class="content-list-body">
                <div class="card-list mt-3 p-4 nav-tabs">
                    <div class="card-list-head mb-3">
                        <h5>Commandes en attente par date de soumission</h5>
                    </div>
                    <div class="card-list-body filter-list">
                        {% for order in orders %}
                            {% if order.valid == false %}
                                <div class="card card-task mb-2">
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="card-body row justify-content-md-between justify-content-sm-center align-items-center">
                                        <div class="card-title ">
                                            <div class="">
                                                <p class="mb-0">{{ order.user.name|capitalize }} {{ order.user.firstname|capitalize }}</p>
                                            </div>
                                        </div>
                                        <p class="mx-2"> | </p>
                                        <div class="card-title ">
                                            <div class="">
                                                {% set phone = order.user.phoneNumber|split('',2) %}
                                                {% set phone = phone|join('.') %}
                                                <p class="mb-0">{{ phone }}</p>
                                            </div>
                                        </div>
                                        <p class="mx-2"> | </p>
                                        <div class="card-title ">
                                            <div class="">
                                                <p class="mb-0">{{ order.totalPrice }} €</p>
                                            </div>
                                        </div>
                                        <p class="mx-2"> | </p>
                                        <div class="card-title ">
                                            <div class="">
                                                <p class="mb-0">{{ order.totalNumberOfProducts }} produits</p>
                                            </div>
                                        </div>
                                        <p class="mx-2"> | </p>
                                        <div class="card-title ">
                                            <div class="">
                                                <p class="mb-0">Enlèvement souhaité le {{ order.pickupDate|date('d/m/y') }}</p>
                                            </div>
                                        </div>
                                        <div class="card-meta d-flex align-items-center">
                                            <div class="card-options ml-2 ml-sm-4">
                                                <button class="btn-options btn" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item text-primary" href="{{ path('orderManager_showAndValid', {'id' : order.id}) }}">Voir détails</a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item text-danger" href="{{ path('orderManager_delete', {'id' : order.id}) }}">Supprimer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card-list mt-3 p-4 nav-tabs mb-5">
                    <div class="card-list-head mb-3">
                        <h5>Commandes validées par date de soumission</h5>
                    </div>
                    <div class="card-list-body filter-list">
                        {% for order in orders %}
                            {% if order.valid == true %}
                                <div class="card card-task mb-2">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="card-body row justify-content-md-between justify-content-sm-center align-items-center">
                                        <div class="card-title ">
                                            <div class="">
                                                <p class="mb-0">{{ order.user.name|capitalize }} {{ order.user.firstname|capitalize }}</p>
                                            </div>
                                        </div>
                                        <p class="mx-2"> | </p>
                                        <div class="card-title ">
                                            <div class="">
                                                {% set phone = order.user.phoneNumber|split('',2) %}
                                                {% set phone = phone|join('.') %}
                                                <p class="mb-0">{{ phone }}</p>
                                            </div>
                                        </div>
                                        <p class="mx-2"> | </p>
                                        <div class="card-title ">
                                            <div class="">
                                                <p class="mb-0">{{ order.totalPrice }} €</p>
                                            </div>
                                        </div>
                                        <p class="mx-2"> | </p>
                                        <div class="card-title ">
                                            <div class="">
                                                <p class="mb-0">{{ order.totalNumberOfProducts }} produits</p>
                                            </div>
                                        </div>
                                        <p class="mx-2"> | </p>
                                        <div class="card-title ">
                                            <div class="">
                                                <p class="mb-0">Enlèvement prévu le {{ order.pickupDate|date('d/m/y') }}</p>
                                            </div>
                                        </div>
                                        <div class="card-meta d-flex align-items-center">
                                            <div class="card-options ml-2 ml-sm-4">
                                                <button class="btn-options btn" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item text-primary" href="{{ path('orderManager_showAndValid', {'id' : order.id}) }}">Voir détails</a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item text-danger" href="{{ path('orderManager_delete', {'id' : order.id}) }}">Supprimer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
